{{ template "header" . }}
<table class="table table-hover">
  <tr>
    <th scope="col">Team</th>
    <th scope="col">Player</th>
    <th scope="col">Score</th>
  </tr>
  {{ range .Users }}
    <tr>
      <td>{{ .Team }}</td>
      <td>{{ .Username }}</td>
      <td>0</td>
    </tr>
  {{ end }}
</table>
<meta http-equiv="refresh" content="60">
{{ template "footer" }}
