<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Victor Fernandez III">
    <link rel="stylesheet" href="style.css">
    <title>ctfconsole</title>
  </head>
  <body>
    <header>
      <h1>ctfconsole</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Scoreboard</a></li>
          <li><a href="#">Challenges</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
    </main>
    <footer>
    </footer>
  </body>
</html>