<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <script src="/static/bootstrap.js"></script>
    <script src="/static/jquery.js"></script> 
    <script> $(function(){ $("#navbar").load("/navbar.html"); }); </script>
    <title>Register</title>
  </head> 
  <body> 
    <div id="navbar"></div>
    <div class="d-flex justify-content-center">
      <form action="/register.html" method="POST">
        <div class="form-group row">
          <label for="username" class="pt-2 col-sm-4 col-form-label">Username</label>
          <div class="pt-2 col-sm">
            <input type="username" class="form-control" id="username">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="pt-2 col-sm-4 col-form-label">Password</label>
          <div class="pt-2 col-sm">
            <input type="password" class="form-control" id="password">
          </div>
        </div>
        <div class="form-group row">
          <label for="team" class="pt-2 col-sm-4 col-form-label">Team</label>
          <select id="team" class="form-control">
            <option selected>Single Player</option>
            <option>Red Team</option>
            <option>Blue Team</option>
          </select>
        </div>
        <div class="form-group row">
          <div class="pt-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body> 
</html>